<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Easy Readzy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# リセットCSS %>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%# ログインページには共通ヘッダーを表示しない %>
    <% unless current_page?(new_user_session_path) %>
      <header class="header">
        <h1>サンプルヘッダーです。ここを作り込んでいきます。</h1>
      </header>
    <% end %>

    <%= yield %>
  </body>
</html>
