<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Easy Readzy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# リセットCSS %>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%# ログインページには共通ヘッダーを表示しない %>
    <% unless current_page?(new_user_session_path) %>
      <header class="header">
        <div class="header_logo">
          <%= link_to image_tag("logo.svg", class: "header_logo_img"), root_path, class: "header_logo_link" %>
        </div>
        <div class="header_search">
          <input type="text" placeholder="タイトル・著者名・キーワード" class="header_search_input">
        </div>
        <div class="header_right">
          <div class="header_user_icon">
            <%= image_tag "icon_R_0743.jpg", alt: "ユーザーアイコン", class: "header_user_icon_img" %>
          </div>
          <div class="header_my_bookshelf">
            <% if user_signed_in? %>
              <% first_bookshelf_id = current_user.bookshelves.minimum(:id) %>
              <% if first_bookshelf_id %>
                <%= link_to image_tag("bookshelf.svg", class: "header_bookshelf_img"), user_bookshelf_books_path(user_id: current_user.id,
                bookshelf_id: first_bookshelf_id), class: "header_my_bookshelf_link" %>
              <% else %>
                <%= link_to image_tag("bookshelf.svg", class: "header_bookshelf_img"), root_path, class: "header_my_bookshelf_link" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </header>
    <% end %>

    <%= yield %>
  </body>
</html>
