<div class="books_index">
  <ul>
    <li>ユーザー名: <%= @user.name %></li>
    <li>本棚名: <%= @bookshelf.bookshelf_name %></li>
    <li>
      <% @books.each do |book| %>
        <p><%= book.title %></p>
        <% if book.cover_image.attached? %>
          <%= link_to image_tag(book.cover_image), user_bookshelf_book_path(@user, @bookshelf, book) %>
        <% else %>
          <%= link_to image_tag("no_image.jpg"), user_bookshelf_book_path(@user, @bookshelf, book) %>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>
