<div class="books_index">
  <div class="container">
    <% if @query.present? %>
      <div class="location_filter_container">
        <h2 class="location_filter_title">キーワード「<%= @query %>」の所有書籍一覧</h2>
      </div>
    <% elsif @location_filter.present? %>
      <div class="location_filter_container">
        <h2 class="location_filter_title">保管場所「<%= @location_filter %>」の所有書籍一覧</h2>
      </div>
    <% end %>
    <div class="grid_container">
      <ul class="books_grid">
      <% @books.each do |book| %>
        <li class="book_tile">
          <%= link_to user_bookshelf_book_path(@user, @bookshelf, book) do %>
            <% if book.cover_image.attached? %>
              <%= image_tag(book.cover_image, class: "book_cover") %>
            <% else %>
              <%= image_tag("no_image.jpg", class: "book_cover") %>
            <% end %>
            <div class="book_title"><%= book.title %></div>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
    <div class="pagination_container">
      <%= paginate @books %>
    </div>
  </div>
</div>
