<div class="books_show">
  <div class="narrow_container">
    <div class="book_show_card">
      <% if @book.cover_image.attached? %>
        <%= image_tag @book.cover_image, class: "book_cover show_book_cover" %>
      <% else %>
        <%= image_tag "no_image.jpg", class: "book_cover show_book_cover" %>
      <% end %>
      <div class="book_show_container">
        <h1><%= @book.title %></h1>
        <div class="author_and_location">
          <p class="author"><%= @book.author || "-" %> / <%= @book.publisher || "-" %> / <%= @book.published_date || "-" %></p>
          <div class="location_container">
            <% if @shelf_book&.location.present? %>
              <%= link_to @shelf_book.location, user_bookshelf_books_path(@user, @bookshelf, location: @shelf_book.location), class: "location_link", id: "location_display" %>
            <% else %>
              <p class="location" id="location_display">-</p>
            <% end %>
            <div class="edit_location_link">
              <%= link_to image_tag("edit-icon.svg"), "javascript:void(0);", id: "show_edit_location_form", class: "edit_location_btn" %>
            </div>
          </div>
          <div id="edit_location_form" class="edit_location_form" style="display: none;">
            <%= form_with url: user_bookshelf_book_path(@user, @bookshelf, @book), method: :patch, local: true do |f| %>
              <%= f.text_field :location, value: @shelf_book&.location || "", placeholder: "例: Kindle", class: "one_line_input", maxlength: "100" %>
              <div class="location_form_btns">
                <%= link_to "キャンセル", user_bookshelf_book_path(@user, @bookshelf, @book), id: "cancel_edit_location", class: "cancel_link" %>
                <%= f.submit "保管場所を保存", class: "save_location_btn" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="description"><%= simple_format(sanitize_description(@book.description)) %></div>
        <!-- モーダルを表示させるためのダミーのリンク -->
        <a href="javascript:void(0);" id="show_delete_modal" class="delete_book_link">マイ本棚から削除</a>
      </div>
    </div>
    <!-- 本の削除モーダル -->
    <div id="delete_book_modal" class="dialog_overlay" style="display: none;">
      <div id="delete_book_dialog" class="dialog_card delete_book_dialog">
        <%= image_tag "943_ex_h.svg", class: "exclamation_icon" %>
        <p class="delete_book_message">マイ本棚から本を削除しますか？</p>
        <div class="delete_info_container">
          <p class="delete_information_title">削除される情報</p>
          <div class="delete_information_contents">
            <ul>
              <li>本の保管場所</li>
              <li>本に紐づく目標</li>
              <li>本に紐づくアウトプット</li>
            </ul>
          </div>
        </div>
        <div class="delete_and_cancel_btns">
          <button type="button" id="cancel_delete" class="cancel_btn">キャンセル</button>
          <%= button_to "削除", user_bookshelf_book_path(@user, @bookshelf, @book), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "delete_btn" %>
        </div>
      </div>
    </div>

    <% if @shelf_book&.goals.present? %>
      <ul class="goal_output_list">
        <% @shelf_book.goals.each do |goal| %>
          <li>
            <div class="goal_item" data_goal_id="<%= goal.id %>">
              <div class="goal_text text_card">
                <div class="label">目標・目的</div>
                <%= goal.goal_text %>
                <%# アウトプット未作成の場合のみ、ここに作成ボタンを表示 %>
                <% unless goal.output.present? %>
                  <button type="button" class="create_output_btn">アウトプット作成</button>
                <% end %>
              </div>

              <% if goal.output.present? %>
                <div class="connector_line"></div>
                <%# アウトプットがある場合は、アウトプットテキストを表示 %>
                <div class="output_text text_card">
                  <span class="label output_label">アウトプット</span>
                  <%= goal.output.output_text %>
                  <div class="edit_link">
                    <%= link_to image_tag("edit-icon.svg"), edit_goal_output_path(goal), class: "edit_output_btn" %>
                  </div>
                </div>
              <% else %>
                <%# 隠しフォーム %>
                <div class="output_form" style="display: none;">
                  <%= form_with scope: :output, url: goal_output_path(goal), method: :post, local: true do |f| %>
                    <%= f.text_area :output_text, rows: 4, placeholder: "アウトプットを入力", class: "input_form", maxlength: "5000" %>
                    <div class="character_count">
                      <span class="output_text_count">0</span> / 5000
                    </div>
                    <div class="c_s_btns_container">
                      <div class="clear_and_save_btns">
                        <button type="button" id="clear_output_text" class="clear_input_btn"><%= image_tag "icon_B_0405.svg", class: "eraser_img" %>入力をクリア</button>
                        <%= link_to "キャンセル", user_bookshelf_book_path(@user, @bookshelf, @book), id: "cancel_edit", class: "cancel_link" %>
                        <%= f.submit "アウトプットを保存", class: "save_output_btn" %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>目標テキストがありません</p>
    <% end %>

    <!-- 目標追加セクション -->
    <div class="add_goal_section">
      <div class="add_goal_btn_container">
        <button type="button" id="show_add_goal_form" class="add_goal_btn add_goal_btn_show">目標を追加</button>
      </div>

      <div id="add_goal_form" class="add_goal_form" style="display: none;">
        <%= form_with scope: :goal, url: user_bookshelf_book_goals_path(@user, @bookshelf, @book), method: :post, local: true, id: "new_goal_form" do |f| %>
          <%= f.text_area :goal_text, rows: 4, placeholder: "目標・目的を入力（例: テーブル結合を使えるようになる）", class: "input_form", maxlength: "500" %>
          <div class="character_count">
            <span id="goal_text_count_show">0</span> / 500
          </div>
          <div class="footer_btns">
            <div class="clear_and_add_goal_btns">
              <button type="button" id="clear_goal_text_show" class="clear_input_btn">
                <%= image_tag "icon_B_0405.svg", class: "eraser_img" %>入力をクリア
              </button>
              <%= link_to "キャンセル", user_bookshelf_book_path(@user, @bookshelf, @book), id: "cancel_edit", class: "cancel_link" %>
              <%= f.submit "目標を保存", class: "save_goal_btn" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
