<% if @book.cover_image.attached? %>
  <%= image_tag @book.cover_image %>
<% else %>
  <%= image_tag "no_image.jpg" %>
<% end %>
<h1><%= @book.title %></h1>
<p><%= @book.author || "-" %> / <%= @book.publisher || "-" %> / <%= @book.published_date || "-" %></p>
<p><%= @shelf_book&.location || "-" %></p>
<p><%= @book.description || "-" %></p>
