<div class="books_show">
  <% if @book.cover_image.attached? %>
    <%= image_tag @book.cover_image %>
  <% else %>
    <%= image_tag "no_image.jpg" %>
  <% end %>
  <h1><%= @book.title %></h1>
  <p><%= @book.author || "-" %> / <%= @book.publisher || "-" %> / <%= @book.published_date || "-" %></p>
  <p><%= @shelf_book&.location || "-" %></p>
  <p><%= @book.description || "-" %></p>

  <% if @shelf_book&.goals.present? %>
    <ul>
      <% @shelf_book.goals.each do |goal| %>
        <li><%= goal.goal_text %></li>
      <% end %>
    </ul>
  <% else %>
    <p>目標テキストがありません</p>
  <% end %>
</div>
